@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
  /* font-family: Montserrat; */
}

.hero {
    box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  padding: 10px;
  margin-top: 40px;
  margin-right: 5px;
  height: 100px;
  min-width: 100px;
  background: hsl(204, 86%, 53%);
  border: none;
  outline: none;
  color: white;
  font-family: inherit;
  font-weight: 400;
  font-size: 50px;
  border-radius: 3px;
  box-shadow: 0 5px 0px #2e7a94;
  border-bottom: 2px solid #30809b;
  text-align: center;
  transition: all 0.2s ease-in;
}
.button:hover {
  background:hsl(204, 86%, 53%);
  box-shadow: 0 4px 1px #2e7a94;
  border-bottom: 2px solid #2a7088;
  border-radius: 3px;
  color: yellow;
  font-size: 60px;
  text-align: center;
}

.button:active {
  transform: translateY(4px);
  border-bottom-width: 2px;
  box-shadow: none;
}

